@import './fonts.css';

:root {
  --font-weight-normal: 375;
  --font-weight-bold: 675;
  --font-sans: Geista-web, IBMPlexSansJP-web, Asta Sans, Noto Sans KR, ui-sans-serif, system-ui, sans-serif;
  --font-ja:
    Geista-web, IBMPlexSansJP-web, Asta Sans, Hiragino Sans, Hiragino Kaku Gothic Pro, Noto Sans JP, Meiryo,
    ui-sans-serif, system-ui, sans-serif;
  --font-zhHans: Geista-web, PingFang SC, Noto Sans SC, Microsoft YaHei UI, ui-sans-serif, system-ui, sans-serif;
  --font-zhHant: Geista-web, PingFang TC, Noto Sans TC, Microsoft JhengHei UI, ui-sans-serif, system-ui, sans-serif;
  --default-font-feature-settings: 'palt' 1;
  --radius: 0.625rem;
}

* {
  font-family: var(--font-sans);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-weight: var(--font-weight-normal);
}

.gsc-comments {
  gap: 1rem;
}

.gsc-comments-count {
  font-weight: 500;
}

.gsc-comment-header {
  padding: 0;
}
.gsc-reply-header {
  padding: 5px 0 5px 0;
  margin: 0;
}

.gsc-comment-content,
.gsc-reply {
  padding: 0 0 0 38px;
}

.gsc-comment-footer,
.gsc-reply-footer {
  display: none;
}

.gsc-comment-box {
  border: none;
  border-radius: 0;
}

.gsc-comment-box-tabs {
  border: none;
  border-radius: 0;
}

.gsc-comment-box-main,
.gsc-comment-box-bottom,
#__next .mt-2,
#__next .mx-2,
#__next .mb-\[-1px\] {
  margin: 0;
}

.gsc-replies,
.gsc-reply-box,
#__next .border {
  border: none;
}

#__next .rounded-md {
  border-radius: 0;
}
