@import './fonts.css';

:root {
  --font-weight-normal: 375;
  --font-weight-bold: 675;
  --font-sans: Geista-web, IBMPlexSansJP-web, Asta Sans, Noto Sans KR, ui-sans-serif, system-ui, sans-serif;
  --font-ja:
    Geista-web, IBMPlexSansJP-web, Asta Sans, Hiragino Sans, Hiragino Kaku Gothic Pro, Noto Sans JP, Meiryo,
    ui-sans-serif, system-ui, sans-serif;
  --font-zhHans: Geista-web, PingFang SC, Noto Sans SC, Microsoft YaHei UI, ui-sans-serif, system-ui, sans-serif;
  --font-zhHant: Geista-web, PingFang TC, Noto Sans TC, Microsoft JhengHei UI, ui-sans-serif, system-ui, sans-serif;
  --default-font-feature-settings: 'palt' 1;
  --radius: 0.625rem;
}

* {
  font-family: var(--font-sans);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-weight: var(--font-weight-normal);
}

.gsc-comments {
  gap: 1rem;
}

.gsc-header {
  border-top: 1px solid var(--border);
  padding-top: 1rem;
}
