@import url('https://cdn.jsdelivr.net/npm/@quiple/blog-fonts@1.2.1/dist/fonts.css');

:root {
  --font-weight-normal: 375;
  --font-weight-bold: 675;
  --font-sans: var(--font-sans-quiple);
  --default-font-feature-settings: 'palt' 1;
  --radius: 0.625rem;
}

* {
  font-family: var(--font-sans);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-weight: var(--font-weight-normal);
}

.gsc-comments {
  gap: 1rem;

  .gsc-header {
    .gsc-left-header {
      font-weight: 500;

      .gsc-comments-count {
        cursor: text;
        a {
          pointer-events: none;
        }
      }
      em {
        color: var(--muted-foreground);
        font-style: normal;
        font-size: 12px !important;
      }
    }
    .gsc-right-header {
      display: none;
    }
  }

  .gsc-timeline {
    .gsc-comment {
      .gsc-reply-box {
        padding: .75rem 0 0 38px;
        button {
          background-color: var(--secondary);
          color: var(--secondary-foreground);
          border-radius: var(--radius) !important;
          padding: 4px 10px !important;
          height: 32px;
        }
      }
    }
  }
}

.gsc-comment-header {
  padding: 0;
}
.gsc-reply-header {
  padding: 5px 0 5px 0;
  margin: 0;
}

.gsc-comment-author,
.gsc-reply-author {
  .link-secondary {
    text-decoration: none;
    color: var(--muted-foreground);
    pointer-events: none;
  }
  .hidden.sm\:inline-flex {
    display: inline-flex !important;
    .color-box-border-info {
      background-color: var(--secondary);
      color: var(--secondary-foreground);
      border-radius: calc(infinity);
      padding: 0 .5rem;
      margin: 0 !important;
    }
  }
}

.gsc-comment-content,
.gsc-reply {
  padding: 0 0 0 38px;
}
.gsc-reply {
  padding-bottom: .5rem;
  &:last-child {
    padding-bottom: 0;
  }
}

.gsc-comment-footer,
.gsc-reply-footer {
  display: none;
}

.gsc-replies {
  border: none;
  padding-top: .5rem;
}

.gsc-comment-box {
  border: none;
  border-radius: 1rem !important;
  background-color: var(--secondary);
  color: var(--secondary-foreground);
  width: auto;

  .gsc-comment & {
    margin: .75rem 0 0 38px;
  }

  .gsc-comment-box-tabs {
    border: none;
    border-radius: 0;
    padding: .5rem;

    .color-text-primary {
      background-color: var(--background);
      color: var(--foreground);
      margin: 0 !important;
    }
    .color-text-secondary {
      margin: 0 !important;
    }
    .gsc-comment-box-md-toolbar {
      margin: 0;
    }
  }

  .gsc-comment-box-main {
    margin: 0;

    .gsc-comment-box-write {
      textarea {
        border: none;
        padding: 0 10px;
      }
    }
    .gsc-comment-box-preview {
      border: none;
      padding: 0 10px;
      min-height: 100px;
    }
  }

  .gsc-comment-box-bottom {
    margin: 0;
    padding: .5rem;
  }
}

button, .btn {
  padding: 0 10px !important;
  height: 32px;
  border-radius: 8px !important;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  transition: .15s cubic-bezier(.4, 0, .2, 1);
  svg.mr-2 {
    margin-right: 0 !important;
  }
}
button[type=submit], .btn-primary {
  background-color: var(--primary);
  color: var(--primary-foreground);
  &:disabled {
    background-color: var(--primary);
    color: var(--primary-foreground);
    opacity: .5;
    pointer-events: none;
  }
  &:hover {
    background-color: var(--primary);
    color: var(--primary-foreground);
  }
}
button.link-secondary {
  background-color: var(--background);
  color: var(--foreground);
  text-decoration: none;
}

.gsc-comment-box-textarea-extras {
  display: none;
}

.gsc-comment-content,
.gsc-reply-content {
  p {
    margin-bottom: .75em;
  }
}
.gsc-reply-content {
  padding: 0;
}

#__next .mt-2,
#__next .mx-2,
#__next .mb-\[-1px\] {
  margin: 0;
}

.gsc-reply-box,
#__next .border {
  border: none;
}

#__next .rounded-md {
  border-radius: 0;
}

#__next .underline {
  text-decoration: none;
}
